#result{
	border: 1px solid black;
	width: 175px;
	height: 20px;
	margin: 10px;
	position: absolute;
	left: 130px;
	top: 0px;
}
.resultBlock{
	position: relative;
}

#resultTitle{
	position: absolute;
	top: 10px;
}

	
}
label{
	font-weight: 1000;
	padding: 10px;
}
input{
	margin: 10px;
}
html:focus {
	cursor: default;
}